<div *ngIf="candidato">
    <!--botón atrás-->
    
    <div class="back-button-container">
      <button class="btn btn-primary back-button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Volver a Candidatos
      </button>
    </div>
    
    <div class="candidate-details-container">
      <div class="card candidate-card">
       
        <div class="card-body">
          <h1>{{ candidato.nombre }} {{ candidato.apellidos }}</h1>
          <p><strong>Descripción:</strong> {{ candidato.descripcion }}</p>
          <p><strong>Fecha de contratación:</strong> {{ candidato.fechaContratacion || 'No disponible' }}</p>
          <p><strong>Proceso activo:</strong> {{ candidato.proceso ? candidato.proceso.nombre : 'No asignado' }}</p>
  
          <hr>
  
          <h3>Curriculum Vitae</h3>
          <a *ngIf="cvUrl" [href]="cvUrl" download class="btn btn-primary">
            <i class="fas fa-download"></i> Descargar CV
          </a>
        </div>
      </div>
    </div>

    
    
  </div>
  
  
  
