<!--encabezado dinámico, si edit true aparecerá editar recruiter, si es false aparecerá añadir-->
<h2>{{ isEditMode ? 'Editar Recruiter' : 'Añadir Recruiter' }}</h2>

<form (ngSubmit)="saveRecruiter()">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" [(ngModel)]="recruiter.nombre" name="nombre">
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" [(ngModel)]="recruiter.apellidos" name="apellidos">
    <label for="username">Alias</label>
    <input type="text" id="username" [(ngModel)]="recruiter.username" name="username">
    <label for="password">Contraseña</label>
    <input type="password" id="password" [(ngModel)]="recruiter.password" name="password">

    <button type="submit">{{isEditMode ? 'Guardar Cambios' : 'Nuevo Recruiter'}}</button>

</form>
