
.recruiter-details-container {
    margin: 80px auto;
    max-width: 800px;
    padding: 20px;

    position: relative;
}


.recruiter-card {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.recruiter-card h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.recruiter-card label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


.recruiter-card .form-control {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.recruiter-card button {
    padding: 12px 25px;
    font-size: 1.2rem;
}


.btn-primary {
    background-color: #1791C8;
    border-color: #1791C8;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.btn-primary:hover {
    background-color: #137BA1; 
    border-color: #137BA1;
}


.back-button-container {
    position: absolute;
    left: 50px;
    margin-top: 50px;
    margin-left: 270px;
}


.back-button {
    font-size: 14px;
    padding: 8px 15px;
    background-color: white;
    color: #1791C8;
    border-radius: 5px;
    border-style: solid;
    text-decoration: solid;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.back-button:hover {
    background-color: #1791C8;
    border-color: #1791C8;
    color: white;
}
