
::ng-deep body {
    font-family: 'Roboto', sans-serif;
  }
  
  ::ng-deep #calendar-container {
    display: flex;
    justify-content: center; /*centrar horizontalmente */
    align-items: center;
    padding: 20px;
    margin: auto;
  }
  
  /*calendario*/
  ::ng-deep .fc {
    max-width: 1000px; 
    width: 100%; 
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: auto;
  }
  
  /*encabezado*/
  ::ng-deep .fc-toolbar-title {
    font-size: 30px !important; 
    font-weight: bold;
    text-align: center;
    color: #333 !important;
    margin-bottom: 10px;
    text-transform: capitalize; /*primera letra mayúscula */
    font-family: 'Roboto', sans-serif !important;
  }
  
  
  ::ng-deep .fc-button {
    background-color: #1791c8 !important;
    border: none;
    color: white !important;
    font-size: 14px !important;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    margin: 0 4px !important; /*espacio entre flechas */
  }
  
  ::ng-deep .fc-button:hover {
    background-color: #0065b3 !important;
  }
  
  /*estilo para todo el día, utilizo ::ng-deep porque no coge los estilos*/
  ::ng-deep td.fc-timegrid-axis {
    width: 80px !important; 
    text-align: center !important; 
    vertical-align: middle !important;
  }
  
  ::ng-deep td.fc-timegrid-axis.fc-scrollgrid-shrink {
    width: auto !important; 
    text-align: center !important;
    font-weight: bold !important;

    
    color: #333 !important; 
    border-right: 1px solid #ddd !important;
  }
  
  /*eventos*/
  ::ng-deep .fc-event {
    background-color: #1791c8 !important;
    border: 1px solid #1791c8 !important;
    color: white !important;
    font-size: 14px !important;
    padding: 5px !important;
  }
  
  ::ng-deep .fc-event:hover {
    background-color: #0065b3 !important;
  }


  /*------------------------------------------------------------------*/
  /*ESTILOS DEL MODAL CON DETALLES DE LA ENTREVISTA:*/

  #modalDetallesEntrevista .modal-header {

    background-color: #1791C8; 
    color: white; 
    font-weight: bold;

}

#modalDetallesEntrevista .modal-body {
    padding: 20px;
    font-size: 16px;
    color: #333; 

}

#modalDetallesEntrevista .modal-footer {
    border-top: none; 
    justify-content: center; 

}

#modalDetallesEntrevista .btn-close {
    background-color: transparent;
    border: none;
    color: white; 

}

#modalDetallesEntrevista .btn {

    background-color: #1791C8; 
    color: white;
}


#modalDetallesEntrevista .btn:hover {

  background-color: white; 
  color: #1791C8;
  border-color: #1791C8;
  border-style: solid;
}



#modalDetallesEntrevista .modal-content {
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}






  /*---------------------------------------------------*/
  /*ESTILOS FORMULARIO CREACIÓN DE ENTREVISTAS:*/

  .card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1791C8;

  }

  .form-group label {
    font-weight: bold;
    color: #495057;
  }

  .form-control,
.form-select {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 15px;
}


.btn-primary {
  background-color: #1791C8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}


.btn-primary:hover {
  background-color: #0056b3;
}


.btn-close {
  font-size: 1.2rem;
}

.modal-content {
  border-radius: 10px;
  padding: 20px;
}

.modal-title {
  font-weight: bold;
  color: whitesmoke;
}

.modal-body p {
  font-size: 1rem;
  color: #495057;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}