.perfil-container {
    text-align: center;
    padding-top: 30px;
   
  }


  .perfil-info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .foto-container {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;

  }
  
  .foto-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
  }
  
  .foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
  }


  .foto-perfil:hover {
    transform: scale(1.45);
  }

  .foto-container:hover .foto-placeholder {

    background-color: #ddd;
  }


  
  .input-file {
    display: none;
    
  }
  
  .datos-container {
    display: flex;
    flex-direction: column;

    align-items: center;

  }
  
  .dato {
    margin: 10px 0;
  }

  
  .dato label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .dato p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
  }


  h2 {
    color: #042a3b;
  }
  
  label {

    color: #042a3b;
    
  }

  p {
    color: #042a3b;
  }