<nav > <!--mostrar menú en todas las vistas excepto en  el login-->
    <div class="menu-container">
      <a routerLink="/home" class="logo">
        <img src="images/Gesel.png" alt="Logo" />

      </a>
      <div class="menu-buttons">
        <button type="button" class="btn btn-primary" [routerLink]="['/candidatos']">Candidatos</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/procesos']">Procesos</button>
        <button type="button" class="btn btn-primary" [routerLink]="">Mi Calendario</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/perfil']">Mi Perfil</button>
      </div>
      <button (click)="logout()" class="btn btn-outline-primary">Salir</button>
    
    </div>
  </nav>
